SECRET_KEY=replace-me-with-50-char-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,shashankh3.pythonanywhere.com

DATABASE_URL=postgres://user:pass@localhost:5432/lms_db

JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://my-vercel-app.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://my-vercel-app.vercel.app

# API Keys
FIREWORKS_API_KEY=replace-me-with-your-fireworks-keyapi-key-here

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0